@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.orange.500) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
.btn-product {
  @apply bg-colorPrimary text-white p-1 rounded-md hover:bg-orange-300 hover:translate-y-[-5px] transition-all duration-300  text-[10px] sm:text-xs md:text-[12px] lg:text-[13px];
}
.btn-auth {
  @apply bg-colorPrimary p-1 text-xs md:text-[11px] rounded-md text-white font-semibold;
}
.carousel-main {
  display: flex;
  white-space: nowrap;
  transition: transform 0.7s ease-in-out;
  width: 100%;
}

.carousel-item {
  flex: 0 0 100%;
  width: 100%;
}
